body {
  background-color: #faf8f4;
}
.weather-app {
  border: 3px solid #dadde1;
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
  max-width: 600px;
  background-color: white;
}
header {
  text-align: center;
  margin: 20px 10px 10px;
}
h1,
h2 {
  display: inline;
}
h1 {
  font-size: 30px;
  margin: 0 5px;
}
h2 {
  font-size: 16px;
  margin: 0 5px;
  font-weight: 400;
}

.today {
  text-align: center;
  margin: 10px 10px 0px;
}
.icon {
  font-size: 42px;
  margin-left: 45px;
  margin-bottom: 20px;
}
.temperature {
  font-size: 42px;
  margin-left: 4px;
}
.units {
  font-size: 12px;
  position: relative;
  top: -22px;
  left: -2px;
}

.active {
  color: black;
  text-decoration: none;
}
.inactive {
  color: #ef972b;
}

ul {
  list-style-type: none;
  display: inline;
  text-align: left;
  font-size: 15px;
  margin-left: auto;
  color: #838383;
}
.description:first-letter {
  text-transform: capitalize;
}

.form {
  max-width: 800px;
  position: relative;
  text-align: center;
}
.city-form {
  font-size: 12px;
}
.link {
  font-size: 12px;
  padding: 6px;
  margin: auto;
  max-width: 600px;
}
.true-link {
  color: #ef972b;
}
.emoji {
  font-size: 14px;
}
