body {
  background-color: #faf8f4;
}
.weather-app {
  border: 3px solid #dadde1;
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
  max-width: 800px;
  background-color: white;
}
header {
  text-align: center;
  margin: 20px 10px 10px;
}
h1,
h2 {
  display: inline;
}
h1 {
  font-size: 30px;
  margin: 0 5px;
}
h2 {
  font-size: 18px;
  margin: 0 5px;
  font-weight: 400;
}

.today {
  text-align: center;
  margin: 10px 10px 0px;
}
.icon {
  font-size: 50px;
  margin-left: 40px;
  margin-bottom: 14px;
}
.temperature {
  font-size: 30px;
  margin-left: 4px;
}
.units {
  font-size: 12px;
  position: relative;
  top: -12px;
  left: -2px;
}

.celsius,
.farenheit {
  color: black;
  text-decoration: none;
}

h3 {
  display: inline;
  text-align: right;
  font-size: 15px;
  margin-left: 15px;
  color: #838383;
}
.form {
  max-width: 800px;
  position: relative;
  text-align: center;
}
.city-form {
  font-size: 12px;
}
.link {
  font-size: 12px;
  padding: 6px;
  margin: auto;
  max-width: 800px;
}
.true-link {
  color: #ef972b;
}
.emoji {
  font-size: 14px;
}
